*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}
/* header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
} */
.logo{
    font-size: 2em;
    pointer-events: none;
    color: #359381;
}
.btn:hover{
    background: #359381;
    color: #fff;
}